{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global_color.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <script src="{% static 'js/agree_consent_form.js' %}"></script>
    <script src="{% static 'js/theme_toggle.js' %}" defer></script>
    <script src="{% static 'js/section_btnmenu.js' %}"></script>
    <link rel="icon" href="{% static 'assets/images/No3BASEIcon.ico' %}" type="image/x-icon">
    <title>聊天室—{{ player.first_name }}</title>
</head>

<body>
    {% include 'tool_bar.html' %}
    <div id="content">
        <div class="chatRoom">
            <div>
                <div class="chaterDetail">
                    {% if player.profile.photo %}
                    <img src="{{ player.profile.photo.url }}" alt="User Photo">
                    {% else %}
                    <img src="{% static 'assets/images/No3BASE.png' %}" alt="Default Photo">
                    {% endif %}
                    <div class="chatTitle">
                        <p class="playerName">{{ player.first_name }}<span class="level">Lv.
                                {{ player.profile.level }}</span></p>
                        <p class="lastActive">最後上線時間：<span
                                class="time">{{ player.profile.lastSeen|date:'Y-m-d H:i' }}</span></p>
                    </div>
                    <button class="menuBtn" type="button" onclick="toggleMenu('menu1')">⋮</button>
                    <div id="menu1" class="menu">
                        <button>刪除</button>
                        <a>檢舉</a>
                    </div>
                </div>
                <div class="line"></div>
                <p class="chatDate">2025-05-13</p>
                <div class="chatGroup hide-scrollbar">
                    <div class="chatContentLeftBox">
                        <p class="chatContentLeft">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
                            nam porro ea praesentium iure. Distinctio beatae sit cumque sint officiis repellat
                            perspiciatis itaque ipsum. Provident libero voluptatem ex quo accusamus!</p>
                        <p class="chatTime">19:21</p>
                    </div>
                    <div class="chatContentRightBox">
                        <p class="chatTime">19:21</p>
                        <p class="chatContentRight">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id,
                            sapiente. Recusandae excepturi dicta harum dolorem animi. Porro ipsa praesentium laudantium
                            amet, ipsum modi quo tempora similique provident distinctio, earum laborum.</p>
                    </div>
                </div>
            </div>
            <div class="inputTool">
                <textarea id="smallTextarea" class="hide-scrollbar" name="" id=""></textarea>
                <button class="inputBtn">送出</button>
            </div>
        </div>
    </div>
</body>

</html>