{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global_color.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_article.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css">
    <link rel="stylesheet" href="https://cdn.quilljs.com/2.0.0-dev.3/quill.snow.css">
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
    <script src="https://cdn.quilljs.com/2.0.0-dev.3/quill.js"></script>
    <script src="{% static 'js/theme_toggle.js' %}" defer></script>
    <script src="{% static 'js/quill_textarea.js' %}" defer></script>
    <script src="{% static 'js/select_section.js' %}"></script>
    <script src="{% static 'js/textarea_space.js' %}"></script>
    <script src="{% static 'js/upload_article.js' %}"></script>
    <link rel="icon" href="{% static 'assets/images/No3BASEIcon.ico' %}" type="image/x-icon">
    <title>No 3 BASE—文章編輯</title>
</head>

<body>
    {% include 'tool_bar.html' %}
    <div id="content">
        <p class="subTitle">編輯文章</p>
        <div id="editArticle">
            <form id="article" method="post" action="">
                {% csrf_token %}
                <p class="itemTitle">板塊類別</p>
                <div class="inputFields">
                    <div class="field-container">
                        <select id="selectSection" class="select-input selectSection" name="section">
                            <option value="" selected disabled hidden>選擇板塊</option>
                            {% for sec in sections %}
                            <option value="{{ sec.id }}" {% if article.section and article.section.id == sec.id %}
                                selected {% elif section_id and section_id == sec.id %} selected {% endif %}>
                                {{ sec.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field-container">
                        <select id="selectClass" class="select-input selectClass" name="category">
                            <input type="hidden" id="initialCategoryId" value="{{ article.category.id }}">
                        </select>
                    </div>
                </div>
                <p class="itemTitle">文章標題</p>
                <div class="inputFields inputCenter">
                    <textarea id="articleTitle" name="title">{{ article.title }}</textarea>
                </div>
                <p class="itemTitle">文章內容</p>
                <div class="inputFields inputCenter">
                    <div class="textArea">
                        <div id="editor-container"></div>
                        <input type="hidden" name="content" id="hidden-content" value="{{ article.content }}">
                        <div id="editBtn">
                            <button id="saveBtn" class="submitArticle" type="button">儲存草稿</button>
                            <button id="publishBtn" class="submitArticle" type="submit" disabled>發布文章</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>