html[data-theme="dark"] {
    --Primary-Color: #03213D;
    --RE-Primary-Color: #032445;
    --Secondary-Color: #304575;
    --Accent-Color: #247EA8;
    --Sub-Accent-Color: #106A94;
    --Contrast-Color: #B56387;
    --Text-Color: #FDF7E7;
    --Text-Secondary-Color: #FDF7E7;
    --Button-Border-Color: #3D5272;
    --Section-Text-Color: #B56387;
    --Section-Hover-Color: #FDF7E7;
    --A-Active-Color: #03213D;
    --A-Hover-Color: #B56387;
    --Shadow-Color: rgba(48, 69, 117, 0.6);
}

html[data-theme="light"] {
    --Primary-Color: #FDF7E7;
    --RE-Primary-Color: #FDF8E9;
    --Secondary-Color: #F1C9DA;
    --Accent-Color: #8D3136;
    --Sub-Accent-Color: #EBA9CD;
    --Contrast-Color: #3D5272;
    --Text-Color: #4C4B6A;
    --Text-Secondary-Color: #FDF7E7;
    --Button-Border-Color: #3D5272;
    --Section-Text-Color: #8D3136;
    --Section-Hover-Color: #4C4B6A;
    --A-Active-Color: #8D3136;
    --A-Hover-Color: #FDF7E7;
    --Shadow-Color: rgb(241, 201, 218);
}