{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global_color.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
    <script src="{% static 'js/theme_toggle.js' %}" defer></script>
    <script src="{% static 'js/section_btnmenu.js' %}"></script>
    <script src="{% static 'js/input_control.js' %}"></script>
    <script src="{% static 'js/upload_comment.js' %}"></script>
    <script src="{% static 'js/reply_comment.js' %}"></script>
    <script src="{% static 'js/article_toggle_like.js' %}"></script>
    <script src="{% static 'js/article_toggle_bookmark.js' %}"></script>
    <title>No 3 BASE</title>
</head>

<body>
    {% include 'tool_bar.html' %}
    <div id="content">
        <div id="articleSection">
            <a class="type" href="{% url 'section:section' article.section.id %}">
                <img src="{{ article.section.icon.url }}" alt="">
                <p class="typeName">{{ article.section.name }}</p>
            </a>
            <a class="type" href="">
                <p class="typeName">{{ article.category.name }}</p>
            </a>
        </div>
        <div class="article">
            <div class="player">
                <div class="playerDetail">
                    <img src="{{ article.author.profile.photo.url }}" alt="">
                    <div>
                        <a class="playerLink" href="{% url 'player:profile' article.author.id %}">
                            <p class="playerName">{{ article.author.first_name }}</p>
                        </a>
                        <p class="playerDays">進入基地 {{ article.author.profile.signupDays }} 天<span class="level">Lv.
                                {{ article.author.profile.level }}</span></p>
                    </div>
                </div>
                <p class="floor">樓主</p>
                <p class="signTitle">個性簽名</p>
                <p class="sign">{{ article.author.profile.slogan }}</p>
            </div>
            <div class="articleField">
                <div>
                    <div class="addBtn">
                        <p class="articleTitle">{{ article.title|linebreaksbr }}</p>
                        <button class="menuBtn" type="button" onclick="toggleMenu('menu1')">⋮</button>
                        <div id="menu1" class="menu">
                            <a>編輯</a>
                            <a>檢舉</a>
                        </div>
                    </div>
                    <div class="articleContent">{{ article.content|safe }}</div>
                </div>
                <div class="downDetail">
                    <div>
                        <p class="time">Activated：{{ article.publishAt|date:"Y-m-d H:i" }} Last
                            Modified：{{ article.lastEdit|date:"Y-m-d H:i" }}</p>
                    </div>
                    <div class="articleDetail">
                        <p>收藏　<span id="articleMark">{{ article.bookmark }}</p>
                        <button class="articleBtn markBtn" id="mark" data-section-id="{{ article.section.id }}"
                            data-article-id="{{ article.id }}">{% if isMark %}已收藏{% else %}收藏{% endif %}</button>
                        <p>獲讚　<span id="articleLike">{{ article.like }}</span></p>
                        <button class="articleBtn likeBtn" id="like" data-section-id="{{ article.section.id }}"
                            data-article-id="{{ article.id }}">{% if isLike %}已讚{% else %}按讚{% endif %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="messageGroup" id="commentsList">
            {% for comment in comments %}
            <div class="articleMessage" id="{{ comment.id }}">
                <div class="player">
                    <div class="playerDetail">
                        {% if comment.author.profile.photo %}
                        <img src="{{ comment.author.profile.photo.url }}" alt="User Photo">
                        {% else %}
                        <img src="{% static 'assets/images/No3BASE.png' %}" alt="Default Photo">
                        {% endif %}
                        <div>
                            <a class="playerLink" href="{% url 'player:profile' comment.author.id %}">
                                <p class="playerName">{{ comment.author.first_name }}</p>
                            </a>
                            <p class="playerDays">進入基地 {{ comment.author.profile.signupDays }} 天<span class="level">Lv.
                                    {{ comment.author.profile.level }}</span></p>
                        </div>
                    </div>
                    <p class="floor">{{ forloop.counter }}樓</p>
                    <p class="signTitle">個性簽名</p>
                    <p class="sign">{{ comment.author.profile.slogan }}</p>
                </div>
                <div class="messageField">
                    <div class="addBtn">
                        <p class="messageContent">
                            {% if comment.parentComment %}
                            <a class="floorLink"
                                href="#{{ comment.parentComment.id }}">@{{ comment.parentComment.floor }}樓</a>
                            {% endif %}
                            {{ comment.content }}
                        </p>
                        <button class="menuBtn" type="button" onclick="toggleMenu('{{ comment.id }}')">⋮</button>
                        <div id="{{ comment.id }}" class="menu">
                            <a>檢舉</a>
                        </div>
                    </div>
                    <div class="downDetail">
                        <div>
                            <p class="time">Activated：{{ comment.createAt|date:"Y-m-d H:i" }}</p>
                        </div>
                        <button class="articleBtn replyBtn" data-id="{{ comment.id }}"
                            data-floor="{{ comment.floor }}">回覆</button>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            {% endfor %}
        </div>
        <p class="touchButton">通訊記錄已抵達終端</p>
        <form method="post" action="" id="commentForm">
            {% csrf_token %}
            <!--輸入框-->
            <div id="inputMessage">
                <p id="reply" class="reply">回覆 <a class="floorLink" href=""></a> <button id="removeReply"
                        type="button">✕</button></p>
                <input type="hidden" name="parent_id" id="parent_id">
                <div class="inputTool">
                    <textarea id="smallTextarea" class="hide-scrollbar" name="comment"></textarea>
                    <button class="inputBtn" id="open" type="button">展開</button>
                    <button class="inputBtn" type="submit">送出</button>
                </div>
            </div>
            <!--展開框-->
            <div id="largeMessage">
                <div class="inputTool">
                    <textarea id="largeTextarea" class="hide-scrollbar" name="comment"></textarea>
                </div>
                <div class="inputToolRight">
                    <button class="inputBtn" id="close" type="button">收合</button>
                    <button class="inputBtn" type="submit">送出</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>