{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global_color.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/section.css' %}">
    <script src="{% static 'js/theme_toggle.js' %}" defer></script>
    <script src="{% static 'js/scroll_control.js' %}"></script>
    <script src="{% static 'js/section_btnmenu.js' %}"></script>
    <title>No 3 BASE—{{ section.name }}</title>
</head>

<body>
    {% include 'tool_bar.html' %}
    <div id="sectionImg">
        <img src="{{ section.background.url }}" alt="sectionBackground">
    </div>
    <div id="content">
        <div id="sectionTitle">
            <img src="{{ section.icon.url }}" alt="sectionIcon">
            <div id="sectionTitleDetail">
                <p>{{ section.name }}</p>
                <p>{{ section.slogan }}</p>
                <div>
                    <p id="sectionStats">
                        累積熱度　{{ section.totalHot }}　｜　累積文章　{{ section.totalPosts }}　｜　昨日熱度　{{ section.yesterdayHot }}　｜　昨日文章　{{ section.yesterdayPosts }}
                    </p>
                    <a href="{% url 'article:sectionCreate' section.id %}"><button type="button">發表文章</button></a>
                    <button type="button">收藏板塊</button>
                </div>
            </div>
        </div>
        <div id="sectionAnnouncement">
            <p class="subTitle">板塊公告</p>
            <div id="announcementsContainer">
                <button type="button" id="scrollLeftBtn">‹</button>
                <div id="announcements" class="hide-scrollbar">
                    <div class="perAnnouncement">
                        <div class="announcement hide-scrollbar">
                            <p class="announcementTitle">公告標題</p>
                            <p class="announcementContent">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Accusamus
                                quasi pariatur alias perferendis provident, quae recusandae, esse ipsa ipsam, non vitae
                                tempora
                                culpa nemo? Ducimus, nesciunt? Dolor harum unde nulla!中文字</p>
                            <p class="announcementContent">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Assumenda
                                voluptatem molestiae est corrupti saepe necessitatibus adipisci, quibusdam reiciendis
                                veniam
                                eum
                                tenetur corporis praesentium consequatur obcaecati laboriosam. Labore minus molestiae
                                ipsa.
                            </p>
                        </div>
                    </div>
                    <!--
                    <div class="perAnnouncement">
                        <div class="announcement hide-scrollbar">
                            <p class="announcementTitle">公告標題</p>
                            <p class="announcementContent">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Accusamus
                                quasi pariatur alias perferendis provident, quae recusandae, esse ipsa ipsam, non vitae
                                tempora
                                culpa nemo? Ducimus, nesciunt? Dolor harum unde nulla!中文字</p>
                            <p class="announcementContent">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Assumenda
                                voluptatem molestiae est corrupti saepe necessitatibus adipisci, quibusdam reiciendis
                                veniam
                                eum
                                tenetur corporis praesentium consequatur obcaecati laboriosam. Labore minus molestiae
                                ipsa.
                            </p>
                        </div>
                    </div>
                    -->
                </div>
                <button type="button" id="scrollRightBtn">›</button>
            </div>
        </div>
        <div id="subTitleBar">
            <p class="subTitle">板塊文章</p>
            <div id="searchSections">
                <input id="searchSectionsField" type="text" placeholder="搜尋板塊文章">
                <button id="searchSectionButton" type="button">搜尋</button>
            </div>
        </div>
        <div class="class">
            <p>文章類別</p>
            <button type="button">遊戲攻略</button>
        </div>
        <div id="sortArticle">
            {% if sortBy == "hot" %}
            <a href="?sort=time"><button type="button">≡按時間</button></a>
            {% else %}
            <a href="?sort=hot"><button type="button">≡按熱度</button></a>
            {% endif %}
        </div>
        <div id="articles">
            {% for article in articles %}
            <div class="perArticle">
                <p class="basicInfo">
                    {{ article.author.first_name }}
                    <span>
                        <span class="sectionInfo">{{ article.section.name }}</span>
                        <span class="infoSeparate">·</span>
                        <span class="classInfo">{{ article.category.name }}</span>
                        <span class="timeInfo">發布時間：{{ article.publishAt|date:"Y-m-d H:i" }}</span>
                        <button class="menuBtn" type="button" onclick="toggleMenu('{{ article.id }}')">⋮</button>
                        <div id="{{ article.id }}" class="menu">
                            <a>編輯</a>
                            <a>檢舉</a>
                        </div>
                    </span>
                </p>
                <a href="{% url 'section:article' section.id article.id %}">
                    <p class="articleTitle">{{ article.title|linebreaksbr }}</p>
                    <p class="articleContent">{{ article.get_preview|linebreaksbr }}</p>
                </a>
                <p class="articleInfo">獲讚　{{ article.like }}　｜　留言　{{ article.comment }}　｜　熱度　{{ article.hot }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>