{% extends 'profile_center/profile_center.html' %}
{% load static %}

{% block title %}資料節點—每日任務{% endblock %}

{% block content %}
<div id="playerCenter">
    <div id="playerProfile">
        <div id="playerDetail">
            {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="User Photo">
            {% else %}
            <img src="{% static 'assets/images/No3BASE.png' %}" alt="Default Photo">
            {% endif %}
            <p id="playerName">{{ name }}<span>Lv. {{ profile.level }}</span></p>
            <p id="playerDays">進入基地　<span>{{ profile.signupDays }}</span>　天</p>
            <p id="playerSign">個性簽名</p>
            <p>{{ profile.slogan }}</p>
            <div id="playerTool">
                <div class="line"></div>
                <a href="{% url 'profileCenter:playerProfile' %}">基本資料</a>
                <div class="line"></div>
                <a class="active" href="#">每日任務</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myArticle' %}">我的文章</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myDraft' %}">我的草稿</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myBookmark' %}">我的收藏</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myFans' %}">粉絲關注</a>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div id="playerContent">
        <div class="innerContent">
            <div class="contentTitle">
                <p class="detailTitle">每日任務</p>
            </div>
            <div id="taskExp">
                <p>Lv. {{ toolBar.profile.level }}</p>
                <div id="taskExpDetail">
                    <p>
                        {% if profile.expInLevel == -1 %}
                        ALL MAX
                        {% else %}
                        {{ profile.expInLevel }}/{{ profile.expToNext }}
                        {% endif %}
                    </p>
                    <div id="taskExpBar">
                        <div></div>
                        <div style="width: {{ profile.progressPercent }}%;"></div>
                    </div>
                </div>
            </div>
            <div class="task">
                <p class="taskcontentDetail">通訊檢測<span class="reward">5 point</span><span
                        class="describe">每日首次進入基地</span></p>
                {% if tasks.loginDone %}
                <a class="finishTaskLink" href="{% url 'player:login' %}">已完成任務</a>
                {% else %}
                <a class="taskLink" href="{% url 'player:login' %}">前往任務點</a>
                {% endif %}
            </div>
            <div class="line"></div>
            <div class="task">
                <p class="taskcontentDetail">系統偵測<span class="reward">10 point</span><span
                        class="describe">按讚任一文章</span></p>
                {% if tasks.likeDone %}
                <a class="finishTaskLink" href="{% url 'player:login' %}">已完成任務</a>
                {% else %}
                <a class="taskLink" href="{% url 'player:login' %}">前往任務點</a>
                {% endif %}
            </div>
            <div class="line"></div>
            <div class="task">
                <p class="taskcontentDetail">訊號回傳<span class="reward">15 point</span><span
                        class="describe">回覆一則文章</span></p>
                {% if tasks.messageDone %}
                <a class="finishTaskLink" href="{% url 'player:login' %}">已完成任務</a>
                {% else %}
                <a class="taskLink" href="{% url 'player:login' %}">前往任務點</a>
                {% endif %}
            </div>
            <div class="line"></div>
            <div class="task">
                <p class="taskcontentDetail">記錄上傳<span class="reward">15 point</span><span
                        class="describe">建立一篇草稿</span></p>
                {% if tasks.draftDone %}
                <a class="finishTaskLink" href="{% url 'player:login' %}">已完成任務</a>
                {% else %}
                <a class="taskLink" href="{% url 'player:login' %}">前往任務點</a>
                {% endif %}
            </div>
            <div class="line"></div>
            <div class="task">
                <p class="taskcontentDetail">資料同步<span class="reward">25 point</span><span
                        class="describe">發布一篇文章</span></p>
                {% if tasks.articleDone %}
                <a class="finishTaskLink" href="{% url 'player:login' %}">已完成任務</a>
                {% else %}
                <a class="taskLink" href="{% url 'player:login' %}">前往任務點</a>
                {% endif %}
            </div>
            <div class="line"></div>
        </div>
    </div>
</div>
{% endblock %}