{% extends 'profile_center/profile_center.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/section_btnmenu.js' %}"></script>
{% endblock %}

{% block title %}資料節點—我的草稿{% endblock %}

{% block content %}
<div id="playerCenter">
    <div id="playerProfile">
        <div id="playerDetail">
            {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="User Photo">
            {% else %}
            <img src="{% static 'assets/images/No3BASE.png' %}" alt="Default Photo">
            {% endif %}
            <p id="playerName">{{ name }}<span>Lv. {{ profile.level }}</span></p>
            <p id="playerDays">進入基地　<span>{{ profile.signupDays }}</span>　天</p>
            <p id="playerSign">個性簽名</p>
            <p>{{ profile.slogan }}</p>
            <div id="playerTool">
                <div class="line"></div>
                <a href="{% url 'profileCenter:playerProfile' %}">基本資料</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:dailyMission' %}">每日任務</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myArticle' %}">我的文章</a>
                <div class="line"></div>
                <a class="active" href="{% url 'profileCenter:myDraft' %}">我的草稿</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myBookmark' %}">我的收藏</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myFans' %}">粉絲關注</a>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div id="playerContent">
        <div class="innerContent">
            <div class="contentTitle">
                <p class="detailTitle">我的草稿</p>
                <a class="editA" href="{% url 'article:create' %}">建立草稿</a>
            </div>
            {% for article in articles %}
            <div class="perArticle">
                <p class="basicInfo">
                    {{ article.author.first_name }}
                    <span>
                        <span class="sectionInfo">{{ article.section.name|default:"區段未啟用" }}</span>
                        <span class="infoSeparate">·</span>
                        <span class="classInfo">{{ article.category.name|default:"區段未啟用" }}</span>
                        <span class="timeInfo">編輯時間：{{ article.lastEdit|date:"Y-m-d H:i" }}</span>
                        <button class="menuBtn" type="button" onclick="toggleMenu('{{ article.id }}')">⋮</button>
                        <div id="{{ article.id }}" class="menu">
                            <a href="{% url 'article:editDraft' article.id %}">編輯</a>
                            <a>刪除</a>
                        </div>
                    </span>
                </p>
                <a href="{% url 'article:previewDraft' article.id %}">
                    <p class="articleTitle">{{ article.title|linebreaksbr }}</p>
                    <p class="articleContent">{{ article.get_preview|linebreaksbr }}</p>
                </a>
                <p class="articleInfo">獲讚　-　｜　留言　-　｜　熱度　-</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}