{% extends 'profile_center/profile_center.html' %}
{% load static %}
{% load follow_extras %}

{% block scripts %}
<script src="{% static 'js/profile_toggle_follow.js' %}"></script>
{% endblock %}

{% block title %}資料節點—我的粉絲{% endblock %}

{% block content %}
<div id="playerCenter">
    <div id="playerProfile">
        <div id="playerDetail">
            {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="User Photo">
            {% else %}
            <img src="{% static 'assets/images/No3BASE.png' %}" alt="Default Photo">
            {% endif %}
            <p id="playerName">{{ name }}<span>Lv. {{ profile.level }}</span></p>
            <p id="playerDays">進入基地　<span>{{ profile.signupDays }}</span>　天</p>
            <p id="playerSign">個性簽名</p>
            <p>{{ profile.slogan }}</p>
            <div id="playerTool">
                <div class="line"></div>
                <a href="{% url 'profileCenter:playerProfile' %}">基本資料</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:dailyMission' %}">每日任務</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myArticle' %}">我的文章</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myDraft' %}">我的草稿</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myBookmark' %}">我的收藏</a>
                <div class="line"></div>
                <a class="active" href="{% url 'profileCenter:myFans' %}">粉絲關注</a>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div id="playerContent">
        <div class="innerContent">
            <div class="contentTitle">
                <p class="detailTitle">我的粉絲</p>
                <a class="editA" href="{% url 'profileCenter:myFollows' %}">我的關注</a>
            </div>
            {% for follow in follows %}
            <div class="follow">
                <a class="f" href="{% url 'player:profile' follow.follower.id %}">
                    {% if follow.follower.profile.photo %}
                    <img src="{{ follow.follower.profile.photo.url }}" class="fPhoto" alt="User Photo">
                    {% else %}
                    <img src="{% static 'assets/images/No3BASE.png' %}" class="fPhoto" alt="Default Photo">
                    {% endif %}
                    <p class="fName">
                        {{ follow.follower.first_name }}<span class="level">Lv.
                            {{ follow.follower.profile.level }}</span>
                        <br>
                        <span class="enterDays">進入基地 {{ follow.follower.profile.signupDays }} 天</span>
                    </p>
                </a>
                <button
                    class="{% if user|is_following:follow.follower %}isfollow{% else %}unfollow{% endif %} followToggleBtn"
                    data-url="{% url 'player:followToggle' %}" data-id="{{ follow.follower.id }}">
                    {% if user|is_following:follow.follower %}已關注{% else %}關注{% endif %}
                </button>
            </div>
            <div class="line"></div>
            {% endfor %}
            <!--<div class="follow">
                <a class="f" href="">
                    <img class="fPhoto" src="assets/images/photo_r2.png" alt="">
                    <p class="fName">
                        用戶名稱<span class="level">Lv. 5</span>
                        <br>
                        <span class="enterDays">進入基地 18 天</span>
                    </p>
                </a>
                <button class="unfollow">關注</button>
            </div>
            <div class="line"></div>
            <div class="follow">
                <a class="f" href="">
                    <img class="fPhoto" src="assets/images/photo_r2.png" alt="">
                    <p class="fName">
                        用戶名稱<span class="level">Lv. 5</span>
                        <br>
                        <span class="enterDays">進入基地 18 天</span>
                    </p>
                </a>
                <button class="isfollow">已關注</button>
            </div>
            <div class="line"></div>-->
        </div>
    </div>
</div>
{% endblock %}