{% extends 'profile_center/profile_center.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/share_board.js' %}"></script>
<script src="{% static 'js/copy_gamecard_link.js' %}"></script>
{% endblock %}

{% block title %}資料節點—我的關注{% endblock %}

{% block content %}
<div id="playerCenter">
    <div id="playerProfile">
        <div id="playerDetail">
            {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="User Photo">
            {% else %}
            <img src="{% static 'assets/images/No3BASE.png' %}" alt="Default Photo">
            {% endif %}
            <p id="playerName">{{ name }}<span>Lv. {{ profile.level }}</span></p>
            <p id="playerDays">進入基地　<span>{{ profile.signupDays }}</span>　天</p>
            <p id="playerSign">個性簽名</p>
            <p>{{ profile.slogan }}</p>
            <div id="playerTool">
                <div class="line"></div>
                <a class="active" href="{% url 'profileCenter:playerProfile' %}">基本資料</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:dailyMission' %}">每日任務</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myArticle' %}">我的文章</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myDraft' %}">我的草稿</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myBookmark' %}">我的收藏</a>
                <div class="line"></div>
                <a href="{% url 'profileCenter:myFans' %}">粉絲關注</a>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div id="playerContent">
        <div class="innerContent">
            <div class="contentTitle">
                <p class="detailTitle">基本資料</p>
                <div class="buttonGroup">
                    <a class="editA" href="{% url 'profileCenter:editPrivacy' %}">隱私</a>
                    <a class="editA" href="{% url 'profileCenter:editProfile' %}">編輯</a>
                </div>
            </div>
            {% if profile.photo %}
            <img id="profilePhoto" src="{{ profile.photo.url }}" alt="User Photo">
            {% else %}
            <img id="profilePhoto" src="{% static 'assets/images/No3BASE.png' %}" alt="Default Photo">
            {% endif %}
            <p class="contentDetail">暱稱　{{ name }}</p>
            <p class="contentDetail">帳號　{{ account }}</p>
            <p class="contentDetail">信箱　{{ email }}</p>
            <p class="contentDetail">生日　{{ profile.birthday|date:'Y-m-d' }}</p>
            <p class="contentDetail">註冊日期　{{ join }}</p>
            <p class="contentDetail">個性簽名</p>
            <p class="contentDetail">{{ profile.slogan }}</p>
            <div class="contentTitle">
                <p class="detailTitle">遊戲資料</p>
                <div class="buttonGroup">
                    <button id="shareBtn" class="editBtn">分享</button>
                    <div id="shareBoard">
                        <p class="shareTitle">分享遊戲資料卡</p>
                        <div id="shareLinks">
                            <a class="community" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"
                                target="_blank">
                                <img class="communityImg" src="{% static 'assets/images/Facebook.png' %}" alt="">
                            </a>
                            <a class="community" href="https://twitter.com/intent/tweet?url={{ url }}" target="_blank">
                                <img class="communityImg" src="{% static 'assets/images/X.png' %}" alt="">
                            </a>
                            <button class="copyLink" data-link="{{ url }}">copy</button>
                        </div>
                    </div>
                    <a class="editA" href="{% url 'profileCenter:editGame' %}">編輯</a>
                </div>
            </div>
            <!--<p class="contentDetail">尚未建立任何遊戲記錄</p>-->
            <table>
                {% for game in games %}
                <tr>
                    <td>
                        {% if game.section %}
                        <p class="contentDetail">{{ game.section.name }}</p>
                        {% else %}
                        <p class="contentDetail">{{ game.customName }}</p>
                        {% endif %}
                    </td>
                    <td>
                        <p class="contentDetail">UID: {{ game.uid }}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}