{% load static %}
<link rel="stylesheet" href="{% static 'css/tool_bar.css' %}">

<div id="toolBar">
    <a id="title" href="{% url 'board:home' %}">NO 3 BASE</a>
    <div id="externalLink">
        <a href="{% url 'board:rule' %}">論壇規則</a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=no3base.notify@gmail.com&su=【聯絡類別】簡短描述&body=【問題回報】請確認此模組狀況%0A【使用問題】觸發錯誤模組%0A【識別錯誤】基地回應異常"
            target="_blank">
            聯絡基地
        </a>
        <a href="https://github.com/No-3-BASE/No-3-BASE" target="_blank">基地建設</a>
    </div>
    <form method="get" action="{% url 'search:result' %}">
        <div id="searchField">
            <input type="text" name="q">
            <button type="submit">搜尋</button>
        </div>
    </form>
    <div id="tool">
        <div class="message">
            <a href=""><img id="messageImg" class="toolImg"></a>
            <div id="messageExpand" class="messageExpand">
                <div class="messageExpandButton">
                    <p>訊息</p>
                    <button type="button">全部已讀</button>
                </div>
                <div class="messageContainer hide-scrollbar">
                    <div class="line"></div>
                    <a href="">
                        <div class="perMessage">
                            <img src="assets/images/photo_r.jpg" alt="">
                            <div class="perMessageDetail">
                                <p><span>神秘論壇用戶名稱</span><span>2025-05-09 23:59</span></p>
                                <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                    <!--
                    <a href="">
                        <div class="perMessage">
                            <img src="assets/images/photo_r.jpg" alt="">
                            <div class="perMessageDetail">
                                <p><span>神秘論壇用戶名稱</span><span>2025-05-09 23:59</span></p>
                                <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                    -->
                </div>
            </div>
        </div>
        <div class="message" href="">
            <a href="{% url 'notification:list' %}"><img id="noticeImg" class="toolImg"></a>
            <div id="noticeExpand" class="messageExpand">
                <div class="messageExpandButton">
                    <p>通知</p>
                    <button type="button">全部已讀</button>
                </div>
                <div id="noticeContainer" class="messageContainer hide-scrollbar">
                    <div class="line"></div>
                    {% for notify in toolBar.notifies %}
                    <a
                        href="{% url 'section:article' notify.comment.article.section.id notify.comment.article.id %}#{{notify.comment.id}}">
                        <div class="perNotice">
                            <div class="perNoticeDetail">
                                <p>{{ notify.title }}</p>
                                <p class="messageContent">{{ notify.comment.content }}</p>
                            </div>
                        </div>
                    </a>
                    <div class="line"></div>
                    <!--
                    <a href="">
                        <div class="perNotice">
                            <div class="perNoticeDetail">
                                <p>一名神秘論壇用戶回覆了你的文章</p>
                                <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p>
                            </div>
                        </div>
                    </a>
                    <div class="line"></div>
                    -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <button id="toggleButton" type="button" onclick="toggleTheme()">
            <img id="themeImg" class="toolImg">
        </button>
    </div>
    {% if toolBar.isLogin %}
    <div id="profile">
        {% if toolBar.profile.photo %}
        <img src="{{ toolBar.profile.photo.url }}" alt="User Photo">
        {% else %}
        <img src="{% static 'assets/images/No3BASE.png' %}" alt="Default Photo">
        {% endif %}
        {% if toolBar.name %}
        <a href="{% url 'player:profile' toolBar.id %}" id="name">{{ toolBar.name }}</a>
        {% else %}
        <a href="{% url 'player:profile' toolBar.id %}" id="name">神秘的論壇用戶</a>
        {% endif %}
        <div id="profileExpand">
            <div id="playerAccount">
                {% if toolBar.profile.photo %}
                <img src="{{ toolBar.profile.photo.url }}" alt="User Photo">
                {% else %}
                <img src="{% static 'assets/images/No3BASE.png' %}" alt="Default Photo">
                {% endif %}
                <div id="playerAccountText">
                    {% if toolBar.name %}
                    <p>{{ toolBar.name }}</p>
                    {% else %}
                    <p>神秘的論壇用戶</p>
                    {% endif %}
                    <p>進入基地 <span>{{ toolBar.profile.signupDays }}</span> 天</p>
                </div>
            </div>
            <div id="playerExp">
                <p>Lv. {{ toolBar.profile.level }}</p>
                <div id="playerExpDetail">
                    <p>
                        {% if toolBar.profile.expInLevel == -1 %}
                        ALL MAX
                        {% else %}
                        {{ toolBar.profile.expInLevel }}/{{ toolBar.profile.expToNext }}
                        {% endif %}
                    </p>
                    <div id="playerExpBar">
                        <div></div>
                        <div style="width: {{ toolBar.profile.progressPercent }}%;"></div>
                    </div>
                </div>
            </div>
            <div id="playerData">
                <a href="{% url 'profileCenter:myFans' %}">
                    <p class="number">{{ toolBar.profile.followerCount }}</p>
                    <p class="title">粉絲</p>
                </a>
                <a href="{% url 'profileCenter:myFollows' %}">
                    <p class="number">{{ toolBar.profile.followingCount }}</p>
                    <p class="title">關注</p>
                </a>
                <a href="{% url 'profileCenter:myArticle' %}">
                    <p class="number">{{ toolBar.article }}</p>
                    <p class="title">文章</p>
                </a>
            </div>
            <div id="profileButton">
                <a href="{% url 'profileCenter:playerProfile' %}">用戶中心</a>
                <a href="{% url 'profileCenter:dailyMission' %}">每日任務</a>
                <a href="{% url 'profileCenter:myDraft' %}">我的草稿</a>
                <a href="{% url 'profileCenter:myBookmark' %}">我的收藏</a>

                <form method="post" action="{% url 'player:logout' %}?next={{ request.path }}">
                    {% csrf_token %}
                    <button type="submit">登出</button>
                </form>

            </div>
        </div>
    </div>
    {% else %}
    <div id="loginA">
        <a href="{% url 'player:login' %}?next={{ request.path }}">登入</a>
    </div>
    {% endif %}
</div>