{% load static %}
<link rel="stylesheet" href="{% static 'css/tool_bar.css' %}">

<div id="toolBar">
    <a id="title" href="{% url 'board:home' %}">NO 3 BASE</a>
    <div id="externalLink">
        <a href="">論壇規則</a>
        <a href="">外部連結</a>
        <a href="">外部連結</a>
    </div>
    <div id="searchField">
        <form action="">
            <input type="text">
        </form>
        <button type="button">搜尋</button>
    </div>
    <div id="tool">
        <div class="message">
            <a href=""><img id="messageImg" class="toolImg"></a>
            <div id="messageExpand" class="messageExpand">
                <div class="messageExpandButton">
                    <p>訊息</p>
                    <button type="button">全部已讀</button>
                    <button type="button">全部刪除</button>
                </div>
                <div class="messageContainer hide-scrollbar">
                    <div class="line"></div>
                    <a href="">
                        <div class="perMessage">
                            <img src="assets/images/photo_r.jpg" alt="">
                            <div class="perMessageDetail">
                                <p><span>神秘論壇用戶名稱</span><span>2025-05-09 23:59</span></p>
                                <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                    <!--
                    <a href="">
                        <div class="perMessage">
                            <img src="assets/images/photo_r.jpg" alt="">
                            <div class="perMessageDetail">
                                <p><span>神秘論壇用戶名稱</span><span>2025-05-09 23:59</span></p>
                                <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </a>
                    -->
                </div>
            </div>
        </div>
        <div class="message" href="">
            <a href=""><img id="noticeImg" class="toolImg"></a>
            <div id="noticeExpand" class="messageExpand">
                <div class="messageExpandButton">
                    <p>通知</p>
                    <button type="button">全部已讀</button>
                    <button type="button">全部刪除</button>
                </div>
                <div class="messageContainer hide-scrollbar">
                    <div class="line"></div>
                    <a href="">
                        <div class="perNotice">
                            <div class="perNoticeDetail">
                                <p>一名神秘論壇用戶回覆了你的文章</p>
                                <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p>
                            </div>
                        </div>
                    </a>
                    <div class="line"></div>
                    <!--
                    <a href="">
                        <div class="perNotice">
                            <div class="perNoticeDetail">
                                <p>一名神秘論壇用戶回覆了你的文章</p>
                                <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p>
                            </div>
                        </div>
                    </a>
                    <div class="line"></div>
                    -->
                </div>
            </div>
        </div>
        <button id="toggleButton" type="button" onclick="toggleTheme()">
            <img id="themeImg" class="toolImg">
        </button>
    </div>
    {% if toolBar.isLogin %}
    <div id="profile">
        {% if toolBar.profile.photo %}
        <img src="{{ toolBar.profile.photo.url }}" alt="User Photo">
        {% else %}
        <img src="{% static 'assets/images/No3BASE.png' %}" alt="Default Photo">
        {% endif %}
        {% if toolBar.name %}
        <a href="{% url 'profileCenter:playerProfile' %}" id="name">{{ toolBar.name }}</a>
        {% else %}
        <a href="{% url 'profileCenter:playerProfile' %}" id="name">神秘的論壇用戶</a>
        {% endif %}
        <div id="profileExpand">
            <div id="playerAccount">
                {% if toolBar.profile.photo %}
                <img src="{{ toolBar.profile.photo.url }}" alt="User Photo">
                {% else %}
                <img src="{% static 'assets/images/No3BASE.png' %}" alt="Default Photo">
                {% endif %}
                <div id="playerAccountText">
                    {% if toolBar.name %}
                    <p>{{ toolBar.name }}</p>
                    {% else %}
                    <p>神秘的論壇用戶</p>
                    {% endif %}
                    <p>進入基地 <span>{{ toolBar.signupDays }}</span> 天</p>
                </div>
            </div>
            <div id="playerExp">
                <p>Lv {{ toolBar.profile.level }}</p>
                <div id="playerExpDetail">
                    <p>{{ toolBar.profile.expInLevel }}/{{ toolBar.profile.expToNext }}</p>
                    <div id="playerExpBar">
                        <div></div>
                        <div style="width: {{ toolBar.profile.progressPercent }}%;"></div>
                    </div>
                </div>
            </div>
            <div id="playerData">
                <a href="{% url 'profileCenter:myFans' %}">
                    <p class="number">45</p>
                    <p class="title">粉絲</p>
                </a>
                <a href="{% url 'profileCenter:myFollows' %}">
                    <p class="number">45</p>
                    <p class="title">關注</p>
                </a>
                <a href="{% url 'profileCenter:myArticle' %}">
                    <p class="number">45</p>
                    <p class="title">文章</p>
                </a>
            </div>
            <div id="profileButton">
                <a href="{% url 'profileCenter:playerProfile' %}">用戶中心</a>
                <a href="">個人主頁</a>
                <a href="{% url 'profileCenter:myDraft' %}">我的草稿</a>
                <a href="{% url 'profileCenter:myBookmark' %}">我的收藏</a>

                <form method="post" action="{% url 'player:logout' %}?next={{ request.path }}">
                    {% csrf_token %}
                    <button type="submit">登出</button>
                </form>

            </div>
        </div>
    </div>
    {% else %}
    <div id="loginA">
        <a href="{% url 'player:login' %}?next={{ request.path }}">登入</a>
    </div>
    {% endif %}
</div>